.formContainer {
  border: 1px solid #ccc;
  margin: 7rem;
  padding: 10px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
}
